{% from 'macros.html' import make_form, draw_weld_bead %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Predict Bead Geometry</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container mt-3">
      <h1 class="mx-1">Predict Bead Geometry</h1>
      <div class="row">
        <div class="col-lg-6 mt-2 mb-4">
          {{make_form(form)}} {% if show %}
          <h4 class="mt-4">Predicted Values of Weld Bead Geometry</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Height: </strong>{{result[0][0]}}</li>
            <li class="list-group-item"><strong>Width: </strong>{{result[0][1]}}</li>
            <li class="list-group-item"><strong>Penetration: </strong>{{result[0][2]}}</li>
          </ul>
          {{draw_weld_bead(result[0][0]*4.5, result[0][1]*4.5, result[0][2]*4.5)}} {% endif %}
        </div>
        <div class="col-lg-6">
          <div class="border rounded mx-1 px-3 py-3">
            <h1>About</h1>
            <p>
              With this piece of software, we are trying to predict Height, Width and Penetration of
              a Weld Bead using Arc Voltage, Current, Travel Speed and Nozzle to Plate Distance as
              our input.
            </p>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Parameters</th>
                  <th scope="col">Represents</th>
                  <th scope="col">range</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>V</td>
                  <td>Arc Voltage</td>
                  <td>22 - 36 V</td>
                </tr>
                <tr>
                  <td>A</td>
                  <td>Current</td>
                  <td>250 - 550 A</td>
                </tr>
                <tr>
                  <td>S</td>
                  <td>Travel Speed</td>
                  <td>6 - 18 mm/sec</td>
                </tr>
                <tr>
                  <td>N</td>
                  <td>Nozzle to Plate Distance</td>
                  <td>20 - 34 mm</td>
                </tr>
              </tbody>
            </table>
            <p>All the outputs (Bead Height, Width and Penetration) are measured in mm.</p>
            <h3>Weld Bead Geometry</h3>
            <!-- Weld Bead svg -->
            <img src="{{url_for('static', filename='images/weld-bead.svg')}}"/>
          </div>
        </div>
      </div>
      <footer class="py-3 my-4">
        <p class="text-center text-muted">© 2020 - '24 Batch | Mechanical Engineering | NIT Durgapur</p>
      </footer>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
