{% macro make_form(form) %}
<form class="mx-1" method="POST" action="/">
  {{ form.csrf_token }}
  {% for field in form %}
  {% if field.type == 'SelectField' %}
  {{field(class="form-select")}}
  {% endif %}
  {% if field.type in ['FloatField', 'StringField'] %}
  <div class="input-group my-3">
    {{ field.label(class='input-group-text') }} {{ field(size=20, class="form-control") }}
  </div>
  {% if field.errors %}
  <ul class="errors">
    {% for error in field.errors %}
    <li style="color: red;">{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endif %}
  {% endfor %} 
  {{form.submit(class="btn btn-outline-primary")}}
</form>
{% endmacro %}

{% macro draw_weld_bead(height, width, penetration) %}
<svg viewBox="0 0 100 70" xmlns="http://www.w3.org/2000/svg">
  <!-- Arrow Head -->
  <defs>
    <marker
      id="arrow"
      viewBox="0 0 10 10"
      refX="10"
      refY="5"
      markerWidth="6"
      markerHeight="6"
      orient="auto-start-reverse"
    >
      <path d="M 0 0 L 10 5 L 0 10 z" />
    </marker>
  </defs>
  <!-- Weld Bead Cross Section -->
  <path
    fill="#94a1a8"
    d="
    M10,{{4/3*height}}
    C15,0,{{5+width}},0,{{10+width}},{{4/3*height}}
    Q{{10+width/2}},{{4/3*height+penetration*2}},10,{{4/3*height}}
    "
  ></path>
  <!-- Arrows -->
  <!-- Width -->
  <path d="M10,{{4/3*height+2}} L10,{{4/3*height+5+penetration}}" stroke="black" stroke-width="0.2"></path>
  <path d="M{{10+width}},{{4/3*height+2}} L{{10+width}},{{4/3*height+5+penetration}}" stroke="black" stroke-width="0.2"></path>
  <path
    d="M10,{{4/3*height+5+penetration}} L{{10+width}},{{4/3*height+5+penetration}}"
    marker-start="url(#arrow)"
    marker-end="url(#arrow)"
    stroke="black"
    stroke-width="0.2"
  ></path>

  <!-- Penetration -->
  <path d="M{{12+width}},{{4/3*height}} L{{20+width}},{{4/3*height}}" stroke="black" stroke-width="0.2"></path>
  <path d="M{{12+width/2}},{{4/3*height+penetration}} L{{20+width}},{{4/3*height+penetration}}" stroke="black" stroke-width="0.2"></path>
  <path
    d="M{{20+width}},{{4/3*height}} L{{20+width}},{{4/3*height+penetration}}"
    marker-start="url(#arrow)"
    marker-end="url(#arrow)"
    stroke="black"
    stroke-width="0.2"
  ></path>

  <!-- Height -->
  <path d="M{{12+width/2}},{{height/3}} L{{20+width}},{{height/3}}" stroke="black" stroke-width="0.2"></path>
  <path
    d="M{{20+width}},{{height/3}} L{{20+width}},{{4/3*height}}"
    marker-start="url(#arrow)"
    marker-end="url(#arrow)"
    stroke="black"
    stroke-width="0.2"
  ></path>

  <!-- Measurements Text -->
  <text x="{{21+width}}" y="{{0.83*height}}" fill="black" font-size="2.5">{{'%.7f' % (height/4.5)}}</text>
  <text x="{{6+width/2}}" y="{{4/3*height+7.5+penetration}}" fill="black" font-size="2.5">{{'%.7f' % (width/4.5)}}</text>
  <text x="{{21+width}}" y="{{4/3*height+penetration/2}}" fill="black" font-size="2.5">{{'%.7f' % (penetration/4.5)}}</text>
</svg>
{% endmacro %}
